.catalog-btn {
    margin: 0 5px 0 0;
    padding: 0;
    display: flex;
    position: relative;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.catalog-btn-xl {
    border: 1px solid #AD8361;
    border-radius: 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #AD8361;
    padding: 12px 0;
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}

.catalog-btn-xl:hover {
    border-color: #AD8361;
    background-color: #AD8361;
    color: #FFFFFF;
}

.catalog-btn-xl:focus-visible {
    border-color: #AD8361;
    background-color: #AD8361;
    color: #FFFFFF;
    outline: none;
}

.catalog-btn-xl[disabled] {
    border-color: rgba(173, 131, 97, 0.5);
    background-color: rgba(173, 131, 97, 0.5);
    color: #FFFFFF;
    outline: none;
}

.catalog-wrapper-btn {
    position: absolute;
    width: 156px;
    top: 341px;
    left: 358px;
    transform: translateY(-50%);
    z-index: 20;
}

.catalog__btn-var {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #AD8361;
    padding: 12px 16px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 4px 20px 0px #00000033;
    cursor: pointer;
}

.triangle {
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    color: #ffffff;
}

.catalog__btn-var:hover {
    color: #FFFFFF;
    background-color: #AD8361;
}

.catalog__btn-var:hover + .triangle {
    color: #AD8361;
}

.catalog-card__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    background-color: #AD8361;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

.add {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
}