.custom-input {
    width: 100%;
    position: relative;
}

.custom-input__field {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(9, 9, 9, 0.15);
    background-color: transparent;
    margin: 0;
    padding: 5px 20px 5px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #090909;
    outline: none;
}

.custom-input__field::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: rgba(9, 9, 9, 0.5);
}

.custom-input__icon {
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    color: #AD8361;
    pointer-events: none;
}

.custom-input__field:hover {
    border-bottom: 1px solid #AD8361;
}

.custom-input__field:focus-visible {
    border-bottom: 1px solid #AD8361;
}

.custom-input__field[disabled] {
    border-bottom: 1px solid rgba(9, 9, 9, 0.1);
}

.custom-input__field[disabled]+.custom-input__icon {
    color: rgba(173, 131, 97, 0.5);
}

.custom-input__field[disabled]+.custom-input__field::placeholder {
        color: rgba(9, 9, 9, 0.3);
}