.custom-radio {
    width: 100%;
}

.custom-radio--big {
    grid-column: -3 / -1;
}

.custom-radio__label {
    border: 1px solid #AD8361;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #AD8361;
    background-color: #F3F3F3;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    text-align: center;
    padding: 4px;
    margin-right: -1px;
    margin-top: -1px;
    user-select: none;
}

.custom-radio__label:hover {
    color: #090909;
}

.custom-radio__field:checked+.custom-radio__label {
    color: #FFFFFF;
    background-color: #AD8361;
    border: 1px solid #AD8361;
}

.custom-radio__field[disabled]+.custom-radio__label {
    color: rgba(173, 131, 97, 0.5);
    background-color: rgba(243, 243, 243, 0.5);
    border: 1px solid rgba(173, 131, 97, 0.5);
}

.custom-radio__field:focus-visible+.custom-radio__label {
    color: rgba(173, 131, 97, 1);
    background-color: rgba(239, 237, 231, 1);
    border: 1px solid rgba(173, 131, 97, 1);
}