.custom-checkbox__label {
    display: flex;
    position: relative;
    padding: 0 0 0 24px;
    cursor: pointer;
    user-select: none;
}

.custom-checkbox__label::before {
    content: "";
    border: 1px solid #AD8361;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    user-select: none;
}

.custom-checkbox__field:checked + .custom-checkbox__label .custom-checkbox__icon {
    display: block;
}

.custom-checkbox__icon {
    color: #AD8361;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    display: none;
}

.custom-checkbox__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
}

.custom-checkbox__label:hover .custom-checkbox__text {
    color: #AD8361;
}

.custom-checkbox__label:focus-visible  {
    color: #AD8361;
    outline: none;
}

.custom-checkbox__field[disabled] + .custom-checkbox__label{
    color: rgba(9, 9, 9, 0.5);
    pointer-events: none;
}

.custom-checkbox__field[disabled] + .custom-checkbox__label::before {
    border: 1px solid rgba(173, 131, 97, 0.5);
}