.header-selector {
    display: none;
}

.header-selector--active {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.selector {
    width: 210px;
    min-height: 90px;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector--left {
    border-radius: 0 0 0 20px;
    background-color: #F3F3F3;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.selector--right {
    border-radius: 0 0 20px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.selector-text {
    color: #090909;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0, 04em;
}

.selector-icon {
    color: #AC8361;
    margin: 0 10px 0 0;
}

.selector-text--color {
    color: #AC8361;
}